<%= content_for :title, 'Редактирование профиля' %>

<h1>Редактирование профиля</h1>

<p class='information'>
  Если Вы не хотите изменять пароль, то оставте поля <b>&laquo;Новый пароль&raquo;</b> и <b>&laquo;Подтверждение нового пароля&raquo;</b> пустыми
</p>

<%= simple_form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put } do | form | %>
  <%= devise_error_messages! %>

  <div class='line'>
    <%= form.input :current_password, :required => true, :input_html => { :autofocus => true, :autocomplete => :off } %>
  </div>
  <div class='line'>
    <%= form.input :last_name, :required => resource.regular? %>
    <%= form.input :first_name, :required => resource.regular? %>
    <%= form.input :middle_name, :wrapper_html => { :class => :without_margin } %>
  </div>
  <div class='line'>
    <%= form.input :email, :required => true, :input_html => { :disabled => :disabled } %>
  </div>
  <div class='line'>
    <%= form.input :password, :label => 'Новый пароль' %>
    <%= form.input :password_confirmation, :label => 'Подтверждение нового пароля' %>
  </div>
  <div class='actions'>
    <%= form.submit 'Сохранить', :class => 'button' %>
    <%= link_to 'Отмена', root_path %>
    <div class='float_right'>
      <%= link_to 'Удалить учётную запись', registration_path(resource_name),
        :confirm => 'Вы точно уверены, что хотите удалить учётную запись?',
        :method => :delete,
        :class => 'button white danger' %>
    </div>
  </div>
<% end %>
