<h1>Редактирование профиля</h1>

<p class='information'>
  Если Вы не хотите изменять пароль, то оставте поля <b>&laquo;Пароль&raquo;</b> и <b>&laquo;Подтверждение пароля&raquo;</b> пустыми
</p>

<%= semantic_form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put } do | form | %>
  <%= devise_error_messages! %>
  <%= form.inputs do %>
    <%= form.input :current_password, :required => true, :input_html => { :autofocus => true, :autocomplete => :off } %>
  <% end %>
  <%= form.inputs :class => 'inputs inline_fieldset' do %>
    <%= form.input :first_name, :required => resource.regular? %>
    <%= form.input :middle_name, :required => resource.regular? %>
    <%= form.input :last_name, :required => resource.regular? %>
  <% end %>
  <%= form.inputs do %>
    <%= form.input :email, :required => true, :input_html => { :disabled => :disabled } %>
  <% end %>
  <%= form.inputs :class => 'inputs inline_fieldset' do %>
    <%= form.input :password %>
    <%= form.input :password_confirmation %>
  <% end %>
  <%= form.buttons do %>
    <%= form.commit_button :label => 'Сохранить', :button_html => { :class => 'button' } %>
    <li><%= link_to 'Отмена', root_path %></li>
    <li class='float_right'>
      <%= link_to 'Удалить учётную запись', registration_path(resource_name),
                  :confirm => 'Вы точно уверены, что хотите удалить учётную запись?',
                  :method => :delete,
                  :class => 'button danger' %>
    </li>
  <% end %>
<% end %>
