<h1>Регистрация</h1>

<%= semantic_form_for resource, :as => resource_name, :url => registration_path(resource_name) do | form | %>
  <%= devise_error_messages! %>

  <%= form.inputs :class => 'inputs inline_fieldset' do %>
    <%= form.input :first_name, :required => true, :input_html => { :autofocus => true } %>
    <%= form.input :middle_name, :required => true %>
    <%= form.input :last_name, :required => true %>
  <% end %>
  <%= form.inputs do %>
    <%= form.input :email, :required => true %>
  <% end %>
  <%= form.inputs :class => 'inputs inline_fieldset' do %>
    <%= form.input :password, :required => true, :input_html => { :autocomplete => :off } %>
    <%= form.input :password_confirmation, :required => true %>
  <% end %>
  <%= form.buttons do %>
    <%= form.commit_button :label => 'Зарегистрироваться', :button_html => { :class => 'button' } %>
    <%= render :partial => "shared/links" %>
  <% end %>
<% end %>
