<%= content_for :title, 'Изменение пароля' %>

<h1>Изменение пароля</h1>

<%= simple_form_for resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put } do | form | %>
  <%= devise_error_messages! %>

  <%= form.input :reset_password_token, :as => :hidden %>
  <%= form.input :password, :label => 'Новый пароль', :input_html => { :autofocus => true } %>
  <%= form.input :password_confirmation %>
  <div class='actions'>
    <%= form.submit 'Изменить', :class => 'button' %>
    <%= render :partial => 'shared/links' %>
  </div>
<% end %>
