<%= content_for :title, 'Сброс пароля' %>

<h1>Забыли пароль?</h1>

<p class='information'>
  Введите адрес электронной почты, уаказанный при регистрации. На этот адрес будет выслана инструкция для сброса пароля.
</p>

<%= simple_form_for resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post } do |form| %>
  <%= form.input :email, :required => true, :input_html => { :autofocus => true } %>
  <div class='actions'>
    <%= form.submit 'Сбросить пароль', :class => 'button primary' %>
    <%= render :partial => 'shared/links' %>
  </div>
<% end %>
