<!DOCTYPE HTML>
<html lang='ru'>
  <head>
    <meta charset='UTF-8'>
    <title><%= [yield(:title), 'Система аутентификации'].delete_if(&:blank?).join(' — ') %></title>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render :partial => 'tusur_header' %>
    <div class='content <%= controller.controller_name %>'>
      <% flash.each do |name, msg| %>
        <% next unless %w[notice alert error].include?(name.to_s) %>
        <div class='flash_<%= name %>' id='flash_block'>
          <%= content_tag :p, msg %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
