<!DOCTYPE HTML>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>ESP Single sign-on</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="content">
      <% flash.each do |name, msg| %>
        <div class="flash_<%= name %>" id="flash_block">
          <%= link_to 'закрыть', '#', :title => 'закрыть' %>
          <%= content_tag :p, msg %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
